<h1>New Entry for <%= @place["name"] %> </h1>
<form action="/entries" method="post">
  <p>
    <label for="title">Entry Title</label>
    <input type="text" name="title" id="title">
    <label for="occurred_on">Occured On Date</label>
    <input type="date" name="occurred_on" id="occurred_on">
  </p>
  <p>
    <label for="description">Description</label>
    <input type="text" name="description" id="description">
  </p>
  <p>
    <label for="place_id">Place ID</label>
    <input type="text" name="place_id" id="place_id" value="<%= @place["id"] %>">
  </p>
  <button>Submit</button>
  <p>
    <a href="/places/<%= @place["id"] %>">Back to Place</a>
  </p>
</form>
